.merchandiseArea {
    width: 100%;
    height: 120vh;
    background-image: url('../img/區塊背景圖/麵包底圖.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}

.merchandisetitle {
    color: white;
    font-size: 42px;
    text-align: center;
}

.commodity {
    width: 80%;
    height: 100%;
    margin: auto;
}

.bread {
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.bread-top {
    width: 100%;
    height: 26%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.bread-mid {
    width: 100%;
    height: 26%;
    margin: auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.bread-bot {
    width: 100%;
    height: 26%;
    margin: auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.bread-1 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-2 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-3 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake03.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-4 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake04.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-5 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake05.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-6 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake06.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-7 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake07.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-8 {
    width: 30%;
    box-shadow: 0px 20px orange;
    background-image: url('../img/cake08.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.bread-logo {
    width: 30%;
    box-shadow: 0px 20px orange;
    border-radius: 50%;
    background-image: url('../img/HALA.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 576px) {
    .commodity {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .merchandiseArea {
        height: 55vh;
        padding: 0;
    }
    .bread {
        margin: 0;
        width: 100%;
        height: 450px;
    }
    .bread-4 {
        width: 180px;
        height: 180px;
        box-shadow: none;
    }
    .bread-5 {
        width: 180px;
        height: 180px;
        box-shadow: none;
    }
    .bread-6 {
        width: 45%;
        box-shadow: none;
    }
    .bread-7 {
        display: none;
    }
    .bread-8 {
        width: 45%;
        box-shadow: none;
    }
    .bread-logo {
        box-shadow: none;
        width: 180px;
        height: 180px;
        z-index: 5;
    }
    .bread-top {
        display: none;
    }
    .bread-mid {
        margin: 0;
        height: 15%;
        padding-top: 20px;
    }
    .bread-bot {
        margin-top: 150px;
        height: 40%;
    }
    .merchandisetitle {
        background-color: black;
    }
}
@media(max-width: 320px){
    .bread-logo{
        display: none;
    }
    .bread-4{
        width: 45%;
    }
    .bread-5{
        width: 45%;
    }
}