.about {
    width: 100%;
}

.abouttitle {
    background-color: black;
    color: white;
    font-size: 42px;
    line-height: 100px;
    text-align: center;
}

.elevator {
    width: 100%;
    height: 100vh;
    background-color: brown;
    overflow: hidden;
}

.space {
    line-height: 100px;
    font-size: 36px;
    background-image: url('/img/休閒區塊.jpg');
    background-position: center;
    background-size: cover;
}

.space-word {
    width: 45%;
    margin: auto;
}

.restArea {
    width: 100%;
    background-image: url('/img/bg02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    padding: 50px 0;
}
.rest {
    width: 60%;
    height: 100vh;
    position: relative;
    left: 35%;
}

.rest-place-1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
   
}

.rest-place-2 {
    width: 100%;
    height: 30%;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
}

.rest-img01 {
    width: 30%;
    height: 100%;
    background-image: url('/img/rest-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3%;
}

.rest-img02 {
    width: 30%;
    height: 100%;
    background-image: url('/img/rest-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3%;

}

.rest-img03 {
    width: 30%;
    height: 100%;
    background-image: url('/img/rest-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3%;
}

.rest-img04 {
    width: 30%;
    height: 100%;
    background-image: url('/img/rest-4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3%;
}

.rest-img05 {
    width: 30%;
    height: 100%;
    background-image: url('/img/rest-5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3%;
}

.rest-img06 {
    width: 30%;
    height: 100%;
    background-image: url('/img/rest-6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3%;
}

.rest-word {
    width: 100%;
    margin-top: 100px;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 2px;
    text-align: justify;
    border-radius: 3%;
    background-color: palegoldenrod;
}
.rest-word p{
    padding: 20px;
}
li button {
    list-style: none;
    background-color: palegoldenrod;
    padding: 10px;
    font-size: 25px;
    border-radius: 0.5em;
    border-bottom: 0.25em solid #0f5177;
}

/* 面板大小 */

.container-2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 面板區塊 */

.container_wrapper {
    width: 100%;
    height: 98%;
}

.container_wrapper:hover .leftpanel {
    transform: translateX(-100%);
    transition: all 2s ease-out;
}

.container_wrapper:hover .rightpanel {
    transform: translateX(100%);
    transition: all 2s ease-out;
}

/* 左電梯門 點擊前覆蓋畫面 */

.leftpanel {
    background-image: url('/img/left-door.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
    z-index: 2;
    /* 動畫 */
    transform: translateX(0%);
    transition: all 2s ease-out;
}

/* 右電梯門 點擊前覆蓋畫面 */

.rightpanel {
    background-image: url('/img/right-door.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100vh;
    float: right;
    position: relative;
    z-index: 2;
    /* 動畫 */
    transform: translateX(0%);
    transition: all 2s ease-out;
}

/* 樓層3F */

#displayarea1 {
    width: 100%;
    height: 100%;
    background-image: url('/img/3F-Chin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* 樓層2F */

#displayarea2 {
    width: 100%;
    height: 100%;
    background-image: url('/img/2F-Chin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* 樓層1F */

#displayarea3 {
    width: 100%;
    height: 100%;
    background-image: url('/img/1F-Chin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* 樓層B1 */

#displayarea4 {
    width: 100%;
    height: 100%;
    background-image: url('/img/B1-Chin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.clearfix {
    clear: both;
}

/* 影藏的點擊區塊 */

input[type=checkbox] {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}

/* 按鈕部分 */

.floor {

    position: absolute;
    z-index: 2000;
    transition: 2s;
}
.floor a{
    margin-top: 5px;
}
.floor ul{
    width: 170px;
    height: 420px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.button-2 {
    width: 50%;
    height: 85px;
    margin: auto;
    border-radius: 50%;
    background-image: url('/img/3F-Y.png');
    background-size: cover;
}
.button-2:hover{
    background-image: url('/img/3F-G.png');
}
.button-3 {
    width: 50%;
    height: 85px;
    margin: auto;
    border-radius: 50%;
    background-image: url('/img/2F-Y.png');
    background-size: cover;
}
.button-3:hover{
    background-image: url('/img/2F-G.png');
}
.button-4{
    width: 50%;
    height: 85px;
    margin: auto;
    border-radius: 50%;
    background-image: url('/img/1F-Y.png');
    background-size: cover;
}
.button-4:hover{
    background-image: url('/img/1F-G.png');
}
.button-5{
    width: 50%;
    height: 85px;
    margin: auto;
    border-radius: 50%;
    background-image: url('/img/B1-Y.png');
    background-size: cover;
}
.button-5:hover{
    background-image: url('/img/B1-G.png');
}
.accordion{
    display: none;
}
.card-body{
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#floor-3{
    width: 100%;
}
#floor-2{
    width: 100%;
}
#floor-1{
    width: 100%;
}
#floor-B1{
    width: 100%;
}
@media(max-width: 1140px) {
    .rest {
        position: unset;
        margin: auto;
    }
    .space-word {
        text-align: center;
    }
    .rest-word {
        left: 18%;
    }
}

@media(max-width: 576px) {
    .rest {
        height: 100%;
        margin: 0px;
        margin: auto;
        
    }
    .rest-place-1 {
        width: 100%;
        height: 189px;
        display: flex;
        justify-content: space-between;
    }

    .rest-place-2 {
        width: 100%;
        height:189px;
        display: flex;
        justify-content: space-between;
    }

    .rest-word { 
        width: 100%;
        background-color: palegoldenrod;
        font-size: 20px;
        padding:  0px;
        left: 0px;
        position: none;
    }
    .rest-img01 {
        width: 180px;
        height:180px;
    }
    .rest-img03 {
        width:180px;
        height:180px;
    }
    .rest-img04 {
        width:180px;
        height:180px;
    }
    .rest-img06 {
        width:180px;
        height:180px;
    }
}
