    
        .container-a {
            width: 100%;
            
        }

        .released-block{
            width: 1140px;
            height: 640px;
            background-color: blueviolet;
        }
        

        .area1 {
            width: 26%;
            float: left;
        }


        .movie1 {
            width:  100%;
            height: 450px;
            background-color: aqua;
            background-image:url('movieR01.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

        }

        .movie2 {
            width: 100%;
            height: 200px;
            background-color: gray;
            float: left;
            background-image:url('movieR03.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .area2 {
            width: 74%;    
            float: left;
           
        }

        .area3 {
            width: 45%;
            height: 440px;
            float: right;
           
        }

        .movie3 {
            
            width: 55%;
            height: 200px;
            background-color: black;
            float: left;
            background-image:url('movieR02.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
        }

        .movie4 {
            width: 33%;
            height: 450px;
            background-color: hotpink;
            float: left;
            background-image:url('movieR08.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
           

        }

        .movie5 {
            width: 22%;
            height: 240px;
            background-color: indianred;
            float: left;
            background-image:url('movieR09.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        
        .movie9{
            background-color: lightskyblue;
            width: 67%;
            height: 210px;
            float: left;
            background-image:url('movieR05.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .movie6 {
            width: 100%;
            height: 180px;
            background-color: khaki;
            float: right;
            background-image:url('movieR07.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .movie7 {
            width: 50%;
            height: 260px;
            background-color: lawngreen;
            float: left;
            background-image:url('movieR06.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
        }

        .movie8 {
            background-color: lightcoral;
            width: 50%;
            height: 260px;
            float: left;
            background-image:url('movieR04.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .clearfix{
            clear: both;
        }
