.traffic-area {
    width:100%;
    height: 540px;
    background-image: url('bg03.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.traffic {
    width: 1140px;
    height: 540px;
   
    margin: auto;
    position: relative;
}

.traffic-content {
    margin-left: 20px;
}

.traffic-content span {
    font-size: 30px;
    color: white;
}

.traffic-word {
    width: 420px;
    margin-top: 30px;
    float: left;
}

.map {
    width: 547px;
    height: 340px;
    background-image: url('map.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    float: right;
}